header {
    min-height: 500px;
}

.header {
    color: white;
    text-align: center;
     display: block;
     margin-top: 15px;
     margin-bottom: 50px;
   
}

.header img {
    margin: auto
}

.navbar {
    background-color: #84c1ff;

}

.nav-custom .nav-item .nav-link {
    color: #4a4e4d;
    font-family: Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 17px;
    margin: auto;
}


.nav-custom .nav-item.nav-link:hover {
    background-color: #4a4e4d;
    color: white;
    margin: auto;
}

.nav-custom .nav-item.active .nav-link {
    background-color: white;
    color: #4a4e4d;
    border-radius: 10px;
    margin: auto;
}

.media {
    background: #eaf4ff;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    left: auto;
    right: auto;
   


}


.media img {
    width: 50px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.posted {
    min-height: 200px;
    max-height: 350px;
    overflow: hidden;
}



.posted .media-body img {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


.posted .media-body p {
    background-color: #fff6e9;
    margin-top: 10px;
    margin: auto;
    text-align: justify;
    white-space: normal;
}

.posted .d-flex-inline {
    float: left;
    margin-top: auto;
    right: 0;
}

.viewed {
    white-space: normal;
    overflow: auto;
    position: relative;

}

.viewed .d-flex-inline {
    position: absolute;
    right: 15px;
    bottom: 5%;

}


.row h3 {
    background-color: #a7adba;
    color: black;
    width: 350px;
    height: 40px;
    text-align: center;
    margin: 10px auto 10px auto;
    border-radius: 10px;
}

.media-body p {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.media .btn {
    float: right;
    margin-bottom: 10px;
}

.panel-heading {
    background-color: #d6eaff;
}

.panel-body .form-control {
    margin-top: 20px;
}

.d-flex {
    margin-top: 85px;
}